* {
   margin: 0;
   padding: 0;
}

:root{
   --backgroundColor1: rgba(68, 28, 85, .85); /* dark purple */
   --backgroundColor2: #967BB6; /* medium purple */
   --backgroundColor3: #b8aecc; /* medium light purple */
   --backgroundColor4: #CDC7d9; /* light purple */
   --backgroundColor5: gold; /* gold */
   --textColor1: rgba(68, 28, 85, .85); /* dark purple */
   --textColor2: #CDC7d9; /* light purple */
   --textColor3: rgba(255, 215, 0); /* gold */
   --textColor4: rgba(218, 165, 32); /* Dark gold */
}

[data-theme="dark"] {
   --backgroundColor1: rgba(0, 0, 0, .85); /* dark purple */
   --backgroundColor2: #110c1c; /* medium purple */
   --backgroundColor3: #7a679f; /* medium light purple */
   --backgroundColor4: #332550; /* light purple */
   --backgroundColor5: gold; /* gold */
   --textColor1: rgb(177 147 206); /* dark purple */
   --textColor2: #7a679f; /* light purple */
   --textColor3: rgba(255, 215, 0); /* gold */
   --textColor4: rgba(218, 165, 32); /* Dark gold */
}


body {
   max-width: 100%;
   overflow-x: hidden;
   font-family: 'Poppins', sans-serif;
   font-size: min(max(1rem, 4vw), 22px);
   font-weight: 400;
   line-height: 1.4;
}




/* navbar Start*/
.navBar {
   background: var(--backgroundColor1);
   display: flex;
   position: fixed;
   top: 0px;
   left: 0;
   right: 0;
   z-index: 999;
}


.NavContainer1 {
   display: flex;
   justify-content: space-evenly;
}

.NavContainer2 {
   display: flex;
   flex-direction: row-reverse;
   width: 100%;
}

.ul1 {
   display: flex;
   list-style: none;
   align-items: center;
}

.NavContainer1 .ul1 li {
   display: flex;
   padding: .1rem;
   margin-left: 1rem;
}

.ul2 {
   display: flex;
   list-style: none;
   margin: 1rem;
   align-items: center;
}

.NavContainer2 .ul2 li {
   margin-left: .5rem;
   margin-right: .5rem;
}

nav a {
   color: var(--textColor3);
} 

nav li a:hover {
   color: var(--textColor4);
}

nav a:link {
   color: var(--textColor3);
   background-color: transparent;
   text-decoration: none;
}


.theme-switch-wrapper {
   display: inline-block;
   position: relative;
}

.theme-switch-wrapper label {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--backgroundColor4);
   border-radius: 30px; 
   padding: 8px;
   position: relative;
   overflow: hidden;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
   transition: background-color 0.3s;
}

.theme-switch-wrapper label:hover {
   background-color: var(--backgroundColor5);
}

.theme-switch input {
   display: none;
}

.slider.round {
   position: relative;
   height: 16px; 
   width: 40px;
   background-color: transparent; 
   border-radius: 8px;
   overflow: hidden;
}

.slider.round:before {
   content: "";
   position: absolute;
   height: 100%;
   width: 200%;
   background: linear-gradient(to right, #FFF 50%, #333 50%); 
   border-radius: 8px;
   transition: transform 0.4s;
   transform-origin: left center;
}

.theme-switch input:checked + .slider.round:before {
   transform: translateX(-50%); 
   background: linear-gradient(to right, #333 50%, #FFF 50%);
}

.theme-switch input:not(:checked) + .slider.round:before {
   background: linear-gradient(to right, #FFF 50%, #333 50%); 
}

/* Moon and Sun Icons */
.theme-switch input:checked + .slider.round:before::after {
   content: "\1F311"; 
   color: #FFF; 
   font-size: 14px; 
   margin-left: 6px; 
}

.theme-switch input:not(:checked) + .slider.round:before::after {
   content: "\2600";
   color: #FFD700; 
   font-size: 14px; 
   margin-left: -6px;
}
/* navbar End*/




/* home Start*/
.home {
   display: flex;
   flex-direction: column;
   align-items:center;
   justify-content: center;
   width: 100%;
   height: 100vh;
   background: var(--backgroundColor2);
   box-shadow: 0px 6px 10px rgb(0 0 0 / 50%);
}

.home h1{
   color: var(--textColor3);
}
.home h2{
   color: var(--textColor2);
}

.home button{
   border-radius: 5px;
   padding: 5px;
   border-style: none;
   background-color: var(--backgroundColor3);
   color: var(--textColor1);
   font-family: 'Poppins', sans-serif;
   border-width: 5px;
   width: 8rem;
}

.home button:hover {
   background-color: var(--backgroundColor5)
}

.home button:active {
   background-color: var(--backgroundColor3);
   color: var(--textColor1);
}


/* home End*/




/* about Start*/
.about {
   display: flex;
   background: var(--backgroundColor4);
   justify-content: space-evenly;
   padding-left: 2rem;
   padding-right: 2rem;
   padding-bottom: 2rem;
}

.aboutImgContainer {
   display: flex;
   flex-direction: column;
   max-width: 25%;
   padding-right: 1rem;
}

.about-pic {
   display: flex;
   border-color: black;
   border-bottom-left-radius: 360px;
   border-bottom-right-radius: 360px;
   background-color: var(--backgroundColor2);
   width: 100%;
   height: auto;
}

.aboutTextContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   max-width: 50%;
   padding-top: 2rem;
}

.aboutText {
   display: flex;
   color: var(--textColor1);
   background-color: var(--backgroundColor3);
   padding: 2rem;
   border-radius: 10px;
}

.br {
   margin-bottom: 1em;
}

.aboutButtonContainer {
   padding-top: 2rem;
}

.aboutButtons {
   border-radius: 5px;
   padding: 5px;
   border-style: none;
   background-color: var(--backgroundColor3);
   font-family: 'Poppins', sans-serif;
   border-width: 5px;
   color: var(--textColor1);
   width: 8rem;
   text-decoration: none;
   margin: 1px;
}

.aboutButtons:hover {
   background-color: #ffd700e6
}

.aboutButtons:active {
   background-color: var(--backgroundColor3);
   color: var(--textColor1);
}

.aboutMetricsContainer {
   display: flex;
}

.aboutMetrics {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   text-align: center;
   color: var(--textColor1);
}

.Metric {
   color:var(--textColor2);
   background-color: var(--backgroundColor2);
   padding-bottom: 35px;
   padding-top: 35px;
   padding-left: 25px;
   padding-right: 25px;
   border-radius: 50%;
   white-space: nowrap;
}

.textColoring {
   color: var(--textColor3);
}

/* about End*/

/* certification Starts */

.certificationContainer {
   background-color: var(--backgroundColor2);
   padding-bottom: 2rem;
   padding-left: 2rem;
   padding-right: 2rem;
   padding-top: 4rem
}
.certification {
   display: flex;
   justify-content: center;
   align-items: center;
}

.certification-container{
   display: flex;
   justify-content: center;
   width: 33%;
}

.certification-container a{
   display: flex;
   justify-content: center;
}

.card-certification {
   width: 50%;
}

/* certification Ends */



/* portfolio Start*/
.portfolio {
   background: var(--backgroundColor2);
   display: flex;
}

.cardContainer {
   display:flex;
   text-align: center;
   justify-content: center;
   padding: 2rem;
}

.card1 {
   display: flex;
   justify-content: center;
   width: 80%;
}

.card-container1{
   background-color: var(--backgroundColor4);
   box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   padding: 1rem;
   border-radius: 5px;
 }
 
 .card-container1:hover{
   box-shadow: 0px 0px 32px 0 rgba(0,0,0,0.2);
 }

.card-img1 {
   border-radius: 5px;
   max-width: 100%;
 }

 .card-container1 h4{
   padding: 1rem;
   color: var(--textColor1);
 }

.cardbutton {
   border-radius: 5px;
   padding: 5px;
   border-style: none;
   background-color: var(--backgroundColor3);
   font-family: 'Poppins', sans-serif;
   border-width: 5px;
   color: var(--textColor1);
   width: 8rem;
   margin: 1px;
}

.button-container {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-right: 1rem;
   padding-left: 1rem;
   padding-bottom: 1rem;
}

.cardbutton:hover {
   background-color: var(--backgroundColor5)
}

.cardbutton:active {
   background-color: var(--backgroundColor3);
   color: var(--textColor1);
}

 /* portfolio End*/



 /* contact Start*/
.contact {
   display: flex;
   padding: 2rem;
   background-color: var(--backgroundColor4);
   justify-content: center;
   color: var(--textColor1);
}

.formContainer {
   text-align: center;
}

.formbox {
   width: 100%;
   border-radius: 5px;
   line-height: 50px;
   padding-left: 5px;
   margin-bottom: 10px;
   box-shadow: 0px;
   border-width: 0;
   border-color: none;
   background-color: var(--backgroundColor3);
   color: var(--textColor1);
}

textarea {
   resize: none;
   height: 320px;
   font-family: 'Poppins', sans-serif;
}

.SubmitButton {
   display: flex;
   justify-content: center;
   width: 101%;
   border-radius: 5px;
   line-height: 50px;
   border-width: 0px;
   background-color: var(--backgroundColor1);
   color: var(--textColor2);
}

::placeholder {
 color: var(--textColor1);
}

/* contact End*/



/* media Query Start*/

@media screen and (max-width: 1200px) 
   {
      .no-mobile {
         display: none;
      }

      .aboutTextContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 60%;
            padding-top: 2rem;
         }
      
      .aboutButtonContainer {
         display: flex;
         padding-top: 2rem;
         justify-content: center;
      }


   }

@media screen and (max-width: 768px) 
   {
      .about {
         display: flex;
         background: var(--backgroundColor4);
         justify-content: space-evenly;
         padding-left: 2rem;
         padding-right: 2rem;
         padding-bottom: 2rem;
         flex-direction: column-reverse;
      }

      .aboutMetrics {
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
         text-align: center;
         color: var(--textColor1);
         width: 100%;
         padding-top: 2rem;
      }

      .Metric {
         color:var(--textColor2);
         background-color: var(--backgroundColor2);
         border-radius: 50%;
         width: 22%;
         font-size: 1rem;
      }

      .aboutTextContainer {
         display: flex;
         flex-direction: column;
         justify-content: center;
         max-width: 100%;
         padding-top: 2rem;
      }

      .aboutButtonContainer {
         display: flex;
         padding-top: 2rem;
         justify-content: center;
      }

      .contact {
         display: flex;
         padding: 1rem;
         background-color: var(--backgroundColor4);
         justify-content: center;
         color: var(--textColor1);
      }

      .portfolio {
         display: initial;
      }
      


   }

@media screen and (max-width: 525px) 
   {
      .NavContainer1 .ul1 li {
         display: flex;
         padding: .1rem;
         margin: inherit;
      }



      .NavContainer2 {
         display: flex;
         flex-direction: row-reverse;
         width: 100%;
         font-size: 80%;
      }

      .ul2 {
         display: flex;
         list-style: none;
         align-items: center;
         margin: inherit;
      }

      .aboutMetrics {
        display: none;
      }

      .Metric {
         display: none;
      }

      .button-container {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         padding: initial;
      }

      .card-container1 h4 {
         padding: .5rem;
      }

      .theme-switch-wrapper {
         display: none;
      }
   }